{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <link rel="stylesheet" href="/frontend/Inicial/style.css">
</head>
<body>

<header class="topo">
    <h1 class="logo">B·Bordados</h1>

    <form method="GET" action="{% url 'pesquisa' %}" class="search-box">
        <input type="text" name="q" value="{{ termo }}" placeholder="Buscar produtos">
    </form>

    <div class="icons">
        <span>🛒</span>
        <span class="perfil">B</span>
    </div>
</header>

<main class="container">
    <aside class="filtros">
        <button class="ativo">Mais relevantes</button>
        <button>Menor preço</button>
        <button>Maior preço</button>
    </aside>

    <section class="resultados">
        <h2>Resultados para <span>"{{ termo }}"</span></h2>

        {% if produtos %}
            {% for produto in produtos %}
            <div class="card">
                <div class="img"></div>

                <div class="info">
                    <h3>{{ produto.nome }}</h3>
                    <p class="preco">R$ {{ produto.preco }}</p>
                    <small>Até 10x sem juros</small>

                    <button class="btn">Adicionar ao carrinho</button>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Nenhum produto encontrado.</p>
        {% endif %}
    </section>
</main>

<script src="{% static 'js/pesquisa.js' %}"></script>
</body>
</html>
