/* Corpo da página*/
body{
    background-color: #f9f6ef;
    display: block;
    height: 100%;
    margin: 0;
    padding-left: 0;
}
/* cabeçario*/
header{
    position: fixed;
    margin-top: -350px;
    height: 100px;
    box-shadow: 0 1px 10px 2px #dae2e2 ;
    background-color: #f9f6ef;
    width:100%;
}
/* Logo B-Bordados*/
.logo{
    margin-right: 130px;
    width: 230px;
    margin-left: 65px;
    margin-top: 30px;
}
/* imput de pesquisa*/
.pesquisa {
    display: flex;
    margin-right: 0px;
    width: 590px;
    align-items: center;
    padding-left: 15px;
    padding-right: 70px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    background-color:#eae9e9;
    height: 35px;
    margin-top: 7px;
}

.lupaimg{
    width: 20px;
}
.lupa {
    height: 35px;
    width: 20px;
    border: none;
    cursor: pointer;
    
    background-color:#eae9e9 ;
    margin-left: -40px;
    margin-right: 280px;
    margin-top: 8px;
}

/* Menu Hamburguer*/
.MenuHamburguer{
    margin-top: 4px;
    height: 31.5px;
    margin-right: 10px;
    background-color: #f9f6ef;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
}
.menu{
    display: flex;
    width: 20px;
    height: 20px;
    padding-top: 5px;
    padding: 5px;
    margin: none;
    padding: none;
    margin-top: 3px;
    cursor: pointer;
}
/* Grupo Imput com Menu hamburguer*/
.direita{
    display: flex;
   margin-top: 0;
    height: 50px;
    margin-left: 420px;
    margin-top: -45px;
}
/* Carrinho de compras*/
.carrinho{
    cursor: pointer;
    margin-right: 70px;
    height: 30px;
    width: 35px;
    margin-top: 5px;
}

/* Texto, centro da página*/
.texto{
    
    margin-left: 63px;
    margin-top: 350px;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
}
/* botões de filtro*/
.filtro{
    margin-left: 62px;  
}
.filtro button{  
    padding: 15px;
    margin-right: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(195, 194, 194);
    margin-top: -5px;
    cursor: pointer;
}

.filtro button:hover{
    background-color: #f1119b;
    color: #e0e1e7;
}
/* Produtos*/
.produtos{
    margin-left: 62px;
}
.produtos img{
    margin-top: 40px;
    height: 325px;
    margin-right: 30px;
    border-radius: 18px;
}

