/* ======== GERAL ======== */
body {
    background-color: #e0e1e7;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ======== CABEÇALHO ======== */
.cabecario {
    background-color: #eae9e9;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    border-bottom: 2px solid #222;
    width: 100%;
}

/* LOGO */
.logo {
    width: 230px;
    margin-right: 80px;
}

/* ======== PARTE DIREITA ======== */
.direita {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

/* INPUT PESQUISA */
.pesquisarr {
    width: 100%;
    max-width: 600px;
    height: 35px;
    padding-left: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    background-color: #e0e1e7;
}

/* BOTÃO LUPA */
.lupa {
    height: 35px;
    width: 40px;
    border: none;
    background-color: #e0e1e7;
    cursor: pointer;
    position: relative;
    right: 50px; /* coloca a lupa dentro do input */
}

.lupaimg {
    width: 20px;
}

/* CARRINHO */
.carrinho {
    cursor: pointer;
    width: 37px;
    height: 37px;
}

/* MENU */
.cilindro {
    background-color: #eae9e9;
    border: 1px solid #222;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.menu {
    width: 22px;
    height: 22px;
    padding: 5px;
    cursor: pointer;
}

/* TÍTULO */
.destaque {
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin-top: 20px;
}

/* FILTRO */
.filtro {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}