/* ====== GERAL ====== */
body {
    background-color: #f9f6ef;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


/* ====== HEADER ====== */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #f9f6ef;
    z-index: 999;
    display: flex;
    align-items: center;
    
    padding: 0 25px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.05);
}

/* LOGO */
.logo {
    width: 230px;
    justify-content: end;
    margin-left: 45px;
    margin-right: 120px;
}

/* GRUPO DA DIREITA (input, lupa, carrinho, menu) */
.direita {
    display: flex;
    align-items: center;
    gap: 140px;
}

/* INPUT */
.pesquisa {
    width: 600px;
    height: 40px;
    padding: 0 15px;
    border-radius: 8px 0 0 8px;
    border: none;
    background: #eae9e9;
    font-size: 15px;
}

/* BOTÃO LUPA */
.lupa {
    border: none;
    background: #eae9e9;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    margin-right: 190px;
}

.lupa img {
    width: 20px;
}

/* BOTÃO CARRINHO */
#openmodal {
    border: none;
    background: none;
    cursor: pointer;
}

.carrinho {
    width: 32px;
    height: 32px;
}

/* MENU */
.menu {
    width: 20px;
    cursor: pointer;
}


/* ====== SLIDER ====== */
.slider {
    margin: 140px auto 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ====== TÍTULO ====== */
.texto {
    margin-top: 40px;
    text-align: left;
    margin-left: 25px;
    font-size: 32px;
    color: #282828;
}


/* ====== FILTRO ====== */
.filtro {
    margin-left: 25px;
    margin-top: 10px;
}

.filtro button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #eae9e9;
    cursor: pointer;
    color: #282828;
    margin-right: 12px;
}

.filtro button:hover {
    background-color: #f1119b;
    color: #fff;
}


/* ====== PRODUTOS ====== */
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
}

.produto {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.produto img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 2px 2px 6px #dedede;
}

.produto p {
    margin: 5px 0 0 0;
    color: #282828;
}

.preco {
    font-weight: bold;
}


/* ====== MODAL ====== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    justify-content: flex-end;
    align-items: center;
}

.modal-content {
    background: #f9f6ef;
    width: 90%;
    max-width: 450px;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 25px;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}


/* ====== MEDIA QUERIES ====== */
@media (max-width: 1485px) {
    header{
        justify-content: center;
    }

    .logo{
        width: 160px;
        margin-left: 0px;
        margin-right: 80px;
    }
    .pesquisa {
        display: 60px;
        height: 35px;
        width: 700px;
    }

    .lupa {
        height: 35px;
        margin-right: 75px ;
    }

    .direita{
        gap: 45px;
        margin-right: 40px;
    }

    .carrinho{
        height: 25px;
        width: 25px;
    }

    .menu{
        height: 15px;
        width: 15px;
    }
}

/* MOBILE */
@media (max-width: 768px) {

    header {
        height: 90px;
        padding: 0 15px;
    }

    .logo {
        width: 130px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .pesquisa {
        width: 300px;
        
    }
    .lupa{
        margin-right: 70px;
    }

    .direita {
        gap: 50px;
        margin-right: 30px;
    }

}

/* TELAS MUITO PEQUENAS */
@media (max-width: 480px) {
    header{
        justify-content: center;
    }

    .logo{
        display: none; /* some no mobile */
    }
    .pesquisa {
        display: 60px;
        height: 35px;
        width: 200px;
    }

    .lupa {
        height: 35px;
        margin-right: 35px ;
    }

    .direita{
        gap: 15px;
        margin-right: 30px;
    }

    .carrinho{
        height: 25px;
        width: 25px;
    }

    .menu{
        height: 15px;
        width: 15px;
    }
}
