body{
    background-color: brown;
    display: flex;
    height: 100%;
    margin-top: 40px;
    
}



.pesquisarr {
    display: flex;
    margin-right: 90px;
    width: 697px;
    align-items: center;
    padding-left: 15px;
    padding-right: 60px;
    border-radius: 15px;
    border: none;
    
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
}
.cilindro{
    margin-top: 5px;
    height: 31.5px;
    margin-right: 15px;
    background-color: azure;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
}

.circle{
    background-color: blue;
    padding: 16px;
    border-radius: 100px;
    margin: none;
    
}

.menu{
    display: flex;
    width: 20px;
    height: 20px;
    padding-top: 5px;
    padding-left: 10px;
    margin: none;
    padding: none;
    margin-top: 1px;
}

.direita{
    display: flex;
    gap: 90px;
    
    height: 50px;
    
}

