body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f9f6ef;
}

.topo {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    gap: 30px;
}

.logo {
    font-weight: bold;
}

.search-box input {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.icons {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.perfil {
    background: #e5007d;
    color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtros button {
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.filtros .ativo {
    background: #e5007d;
    color: #fff;
}

.resultados {
    flex: 1;
}

.resultados h2 span {
    color: #e5007d;
}

.card {
    display: flex;
    gap: 20px;
    margin: 25px 0;
}

.img {
    width: 120px;
    height: 120px;
    background: #ddd;
    border-radius: 8px;
}

.info h3 {
    margin: 0;
}

.preco {
    font-weight: bold;
}

.btn {
    margin-top: 10px;
    background: #e5007d;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}
