* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f9f6ef;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #eae9e9;
    padding: 20px;
    border-right: 1px solid #c1b7b7 ;
}

.sidebar div{
    margin-top: 20px;
    margin-left: 10px;
}

.sidebar a {
    display: flex;
    margin-bottom: 10px;
    text-decoration: none;
    color: #282828;
    height: 40px;
    border: none;
    text-align: left;
    cursor: pointer;
    gap: 10px;
}

.sidebar a:hover{
    color: #ff1493;
}

.sidebar .active{
    color: #ff1493;

}

.logout {
    margin-top: 0;
}

/* CONTEÚDO */
.content {
    flex: 1;
    padding: 40px;
}

.content h1{
    margin-bottom: 60px;
}

.card {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

/* FOTO */
.photo-area {
    width: 250px;
    text-align: center;
}

.photo {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: #ddd;
    overflow: hidden;
    margin: 0 auto 12px;
    box-shadow: 1px 1px 4px #ccc;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-photo {
    background: #ff1493;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 6px;
    cursor: pointer;
    width: 200px;
}

.photo-area small {
    display: block;
    margin-top: 6px;
    font-size: 12px;
}

/* FORM */
.form {
    flex: 1;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.field {
    flex: 1;
    max-width: 400px;
}
.field div{
    width: 100px;
}

.field label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.field input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #282828;
    background-color: #f9f6ef;
}

.x::after{
    content:" *";
    color: #ff1493;
}

.date {
    display: flex;
    gap: 10px;
}

.date input {
    width: 100px;
    margin-right: 8px;
}

.align-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn-save {
    background: #ff1493;
    color: #fff;
    border: none;
    padding: 14px 26px;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    transition: background-color 0.2s ease;
}

.gender {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.input-edit-wrapper {
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    
}

.input-edit-wrapper input {
    display: flex;
    cursor: not-allowed;
    width: 45%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #282828;
    background-color: #dad8d2;
    
    
}

.readonly-group label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

/* Botão editar */
.btn-edit {
    height: 43px;
    width: 150px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    background-color: #ff1493;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-edit:hover {
    background-color: #e01384;
}
.container2{
    margin-top: 40px;
}

.line{
    display: flex;
}