/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header fixo */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #f9f6ef;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
    z-index: 9999;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    justify-content: space-between;
}

/* logo */
.logo {
    height: 35px;
    margin-left: 50px;
}

.groupe{
    display: flex;
    width: 650px;
}

/* formulário de busca */
.form-search {
    flex: 1;
    width: 350px;
}

.search {
    width: 100%;
    height: 42px;
    padding: 0 14px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    background-color: #eae9e9;
}

/* botão da lupa */
.glass-button {
    background-color: #eae9e9;
    border: none;
    cursor: pointer;
    width: 45px;
    border-radius: 0 10px 10px 0;
    padding-right: 10px;
}

.glass {
    width: 22px;
    height: 22px;
}

/* lado direito */
.right {
    display: flex;
    align-items: center;
    gap: 100px;
    padding-left: 20px;
    margin-right: 60px;
}

/* botões */
.right button {
    background: none;
    border: none;
    cursor: pointer;
}

/* ícone carrinho */
.cart {
    width: 34px;
    height: 33px;
}

/* imagem conta */
.account {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
}

/* evita conteúdo ficar atrás do header */
body {
    padding-top: 72px;
    background-color: #f9f6ef;
}

/* ========================= */
/* ATÉ 1400px — TV / Max */
/* ========================= */
@media (max-width: 1400px) {

    .groupe {
        width: 620px;
    }

    .form-search {
        width: 300px;
    }

    .search {
        height: 40px;
        font-size: 14px;
    }

    .glass{
        width: 24px;
        height: 24px;
    }

    .right {
        gap: 90px;
        margin-right: 30px;
    }

    .logo {
        margin-left: 30px;
        height: 30px;
    }
}

/* ========================= */
/* ATÉ 1485px — TV / NexHub */
/* ========================= */
@media (max-width: 1024px) {

    .groupe {
        width: 520px;
    }

    .form-search {
        width: 300px;
    }

    .search {
        height: 38px;
        font-size: 12px;
    }

    .glass{
        width: 20px;
        height: 20px;
    }

    .right {
        gap: 60px;
        margin-right: 20px;
    }

    .logo {
        margin-left: 20px;
        height: 25px;
    }

    .cart {
        width: 28px;
        height: 28px;
    }

    .account {
        width: 33px;
        height: 33px;
    }
}

/* ========================= */
/* ATÉ 900px — iPad */
/* ========================= */
@media (max-width: 900px) {

    .header {
        height: 90px;
        padding: 0 16px;
    }

    .groupe {
        width: 450px;
    }

    .form-search {
        width: 260px;
    }

    .search {
        height: 33px;
        font-size: 12px;
    }

    .glass{
        width: 18px;
        height: 18px;
    }

    .right {
        gap: 40px;
        margin-right: 20px;
    }

    .logo {
        height: 22px;
        margin-left: 10px;
    }

    .cart {
        width: 25px;
        height: 25px;
    }

    .account {
        width: 30px;
        height: 30px;
    }
}

/* ========================= */
/* ATÉ 768px — Tablet / Mobile */
/* REMOVE A LOGO */
/* ========================= */
@media (max-width: 768px) {

    .logo {
        display: none;
    }

    .header {
        height: 80px;
    }

    .groupe {
        width: 100%;
        justify-content: center;
    }

    .form-search {
        width: 100%;
        max-width: 320px;
    }

     .search {
        height: 33px;
        font-size: 12px;
    }

    .glass{
        width: 18px;
        height: 18px;
    }

    .right {
        gap: 40px;
        margin-right: 10px;
        padding-left: 20px;
    }

    .cart {
        width: 25px;
        height: 25px;
    }

    .account {
        width: 30px;
        height: 30px;
    }
}

/* ========================= */
/* ATÉ 480px — Celular */
/* ========================= */
@media (max-width: 480px) {

    .logo{
        display: none;
    }

    .header {
        height: 75px;
        padding: 0 12px;
    }

    .form-search {
        max-width: 220px;
    }

    .search {
        height: 33px;
        font-size: 12px;
    }

    .glass-button {
        width: 40px;
    }

    .glass{
        width: 18px;
        height: 18px;
    }

    .right {
        gap: 20px;
        padding-left: 10px;
    }

    .cart {
        width: 22px;
        height: 22px;
    }

    .account {
        width: 25px;
        height: 25px;
    }
}
