* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f6ef;
  color: #1e1e1e;
}

/* ===== LAYOUT ===== */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 0  0  0 70px;
  min-height: 100vh;
}

/* ===== ESQUERDA ===== */
.logo img{
  width: 240px;
  margin-bottom: 40px;
  margin-top: 30px;
}

.left h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 15px;
  align-items: center;
}

.product-img {
  width: 130px;
  height: 130px;
  background: #e5e5e5;
  border-radius: 10px;
}

.product-info h3 {
  font-size: 15px;
  font-weight: 600;
}

.product-info span {
  display: block;
  margin: 5px 0;
  font-weight: 500;
}

.product-info small {
  font-size: 12px;
  color: #666;
}

.product-info a{
  text-decoration: none;
  font-size: 15px;
  color: #f0129b;
}


.back {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  color: #1e1e1e;
  font-size: 14px;
}

/* ===== DIREITA ===== */
.right {
  background: #ececec;
  border-radius: 20px;
  padding: 30px;
  margin: 0;
}

.payment-box img{
  width: 400px;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-box {
  border: 1px solid #999;
  border-radius: 20px;
  padding: 55px 25px;
  margin-left: 40px ;
  margin-right: 40px;
  height: 76%;
  margin-bottom: 25px;
}

.payment-methods {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.payment-methods button {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #d9d9d9;
  font-weight: 500;
  
}

.payment-methods .active {
  background: #f0129b;
  color: #fff;
}

.card-type {
  display: flex;
  gap: 25px;
  align-items: center;
}

.card-type label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.card-type input{
    margin-top: 15px;
}

.payment-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #999;
  background: #f2f2f2;
  
}

.row {
  display: flex;
  gap: 15px;
}

.summary {
  margin-left: 20px ;
  margin-right: 20px;
  margin-top: 0px ;
}


.summary .line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.summary .total {
  font-weight: 500;
}

.finish {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 10px;
  background: #f0129b;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  
  margin-top: 15px;
}

.linetotalpink{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #f0129b;
  font-weight: 500;
}

@media (max-height: 1400px) {
  .payment-box{
    height: 500px;
  }

}

@media (max-height: 600px) {
  .payment-box img{
    width: 300px;
  }
.payment-box{
  height: 400px;
  padding: 20px 50px;
  margin-bottom: 15px;
}
.finish{
  margin-top: 15px;
}

.logo img{
  width: 170px;
  margin-bottom: 10px;
}

.left h1{
  font-size: 25px;
  margin-bottom: 20px;
}

.back{
  margin-top: 10px;
}
.products {
  gap: 20px;
}

}

/* ===== RESPONSIVO ===== */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .payment-box img{
    display: none;
  }

  .payment-box{
    display: none;
  }
.right{
  margin: 0;
  padding-top: 25px;
}

.logo img{
  width: 150px;
  margin-bottom: 10px;
}

.left h1{
  font-size: 25px;
}

.summary{
  margin: 0;
}

}