
    body {
        margin: 0;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.6px;
        background: #f7f3eb;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
    }
  .container h2 {
       margin: none;
       padding-top: none;
       padding-bottom: 20px;
       text-align: center;
       margin-top: 0;
       padding-top: 0;
    }
    .container {
        background: white;
        width: 350px;
        height: 600px;
        margin-top: 50px;
        padding: 30px;
        border-radius: 17px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border: 2px solid #222;
    }

    .btn-social {
        width: 100%;
        padding: 13px;
        border-radius: 7px;
        border: none;
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10;
    }

    .google {
        background: #eceff1;
        letter-spacing: 0.5px;
    }

    .facebook {
        background: #3b5998;
        color: white;
         letter-spacing: 0.5px;
    }

    .divider {
        text-align: center;
        display: flex;
        align-items: center;
        margin: 20px 0;
    }

    .divider span {
        margin: 0 10px;
        color: #666;
    }

    .divider:before, .divider:after {
        content: "";
        flex: 1;
        height: 1px;
        background: #bbb;
    }

    input {
        width: 96%;
        padding: 14px;
        margin-bottom: 19px;
        border-radius: 7px;
        border: 1px solid #000;
        font-size: 14px;
      padding-right: 0px;
       
    }

    .password-field {
        position: relative;
    }

    .password-field i {
        position: absolute;
        right: 12px;
        top: 14px;
        cursor: pointer;
    }

    .btn-primary {
        width: 100%;
        padding: 12px;
        margin-top: none;
        background: #ff008c;
        border: none;
        border-radius: 7px;
        font-size: 15px;
        color: white;
        cursor: pointer;
        border: 2px solid #ff008c;
        margin-bottom: 10px;
    }

      img {
        padding-right: 7px;

      }

      span{
          font-size: 12px;
          padding: 17px;
      }

      .siginup {
        text-decoration: none;
        text-transform: none;
        color: #ff008c;
        
     }

     .smalli{
      text-align: center;
      padding: 30px;
      
    
     }