<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}B Bordados{% endblock %}</title>
    {% load static %}
</head>
{% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
{% endif %}

<body>
    {% include 'home/partials/header.html' %}
    {% include 'home/partials/modal.html' %}

    {% block content %}
    {% endblock %}
    <script src="{% static 'home/Script.js' %}"></script>
</body>
</html>