<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}B Bordados{% endblock %}</title>
    {% load static %}

    <!--CSS GLOBAL-->
    <link rel="icon" href="{% static 'home/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home/notificacao.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'home/header.css' %}">
    <link rel="stylesheet" href="{% static 'home/modal.css' %}">

    <!--CSS ESPECÍFICO-->
    {% block extra_css %}
    {% endblock %}

</head>

<body>
    {% include 'home/partials/messages.html' %}

    {% include 'home/partials/header.html' %}

    {% block content %}
    {% endblock %}

    {% include 'home/partials/modal.html' %}

    <script src="{% static 'home/Script.js' %}"></script>
    <script src="{% static 'home/notificacao.js' %}"></script>
</body>
</html>