{% extends 'home/base.html' %}

{% block title %}B Bordados - Home{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/inicial.css' %}">
{% endblock %}

{% block content %}
<div class="slider">

        <div class="slides">
            <input type="radio" name="radio-bnt" id="radio1">
            <input type="radio" name="radio-bnt" id="radio2">
            <input type="radio" name="radio-bnt" id="radio3">
            <input type="radio" name="radio-bnt" id="radio4">
            
            <div class="slide first">
                <img src="{% static 'home/first-slide.png' %}" 
                alt="imagem 1"/>
            </div>

            {% for banner in banners %}
            <div class="slide">
                <img src="{{ banner.image.url }}" 
                alt="{{ banner.title }}"/>
            </div>
            {% endfor %}
    
            <div class="navigation-auto">
                <div class="auto-bnt1"></div>
                <div class="auto-bnt2"></div>
                <div class="auto-bnt3"></div>
                <div class="auto-bnt4"></div>
            </div>
        </div>

        <div class="manual-navigation">
            <label for="radio1" class="manual-bnt"></label>
            <label for="radio2" class="manual-bnt"></label>
            <label for="radio3" class="manual-bnt"></label>
            <label for="radio4" class="manual-bnt"></label>
        </div>


    </div>
            <!-- texto, centro da página -->
    <h1 class="texto"> Categorias </h1>

            <!-- Botões de filtro -->
    <div class="filtro">
      {% for category in categories %}
        <a href="?category={{ category.slug }}"><button>{{ category.name }}</button></a>
      {% endfor %}        
    </div>      

    <h1 class="texto"> Produtos Em Destaque </h1>

            <!-- arquivos de venda -->
      
        <div class="produtos">
    {% for product in products %}
    <div class="produto">
        <a href="{% url 'product' product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>

        <p class="nome">{{ product.name }}</p>
        <p class="preco">R${{ product.price }}</p>
    </div>

    {% endfor %}

</div>
{% endblock %}

