{% extends 'home/base.html' %}

{% block title %}B Bordados - Home{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/pesquisa.css' %}">
{% endblock %}

{% block content %}

<h1 class="search-title">
    Resultados para 
    {% if query %}
        "{{ query }}"
    {% else %}
        todos os produtos
    {% endif %}
</h1>

<div class="search-layout">
    <div class="search-filters">
    {% for category in categories %}
        <a href="?q={{ query }}&category={{ category.slug }}"><button>{{ category.name }}</button></a>
    {% endfor %}
    </div>

{% for product in products %}    
    <div class="product-card">
        <a href="{% url 'product' product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
        </a>

        <div class="product-info">
            <a class="product-link" href="{% url 'product' product.id %}">
                <p class="product-name">{{ product.name }}</p>
            </a>

            <p class="product-price">R${{ product.price|floatformat:2 }}</p>

            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <button type="submit">Adicionar ao carrinho</button>
            </form>
        </div>
    </div>
{% empty %}
    <p class="no-results">Nenhum produto encontrado.</p>
{% endfor %}
</div>

</div>
{% endblock %}