{% extends 'home/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/inicial2.css' %}">

    <main class="produto-container">
        <div class="imagem">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

    <div class="produto-info">
    <h1 class="produto-nome">{{ product.name }}</h1>
    <p class="produto-preco">R$ {{ product.price }}</p>
    <p class="parcelamento">Até {{ product.installments_count }}x de R$ {{ product.installments_value }}</p>

    <hr>

    <h1 class="descricao">esse texto e meramente ilustrativo pra entender como ele vai ficar rapidao</h1>

    <a class="btn-carrinho" href="{% url 'add_to_cart' product.id %}">Adicionar ao carrinho</a>
    <p class="aviso">
      Produto digital, o download será liberado após o pagamento
    </p>
  </div>




</main>
<h1 class="veja">Veja mais</h1>
<div class="produtos">
    {% for product in products %}
    <div class="produto">
        <a href="{% url 'product' product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>

        <p class="nome">{{ product.name }}</p>
        <p class="preco">R${{ product.price }}</p>
        <p class="parcela"><strong>{{ product.installments_count }}</strong>X DE <strong>R${{ product.installments_value }}</strong></p>
    </div>
    {% endfor %}
</div>
{% endblock %}