{% extends 'home/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block description %}{{ product.description|truncatechars:150 }}{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/product.css' %}">
{% endblock %}

{% block content %}

    <main class="produto-container">
        <div class="imagem">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

    <div class="produto-info">
    <h1 class="produto-nome">{{ product.name }}</h1>
    <p class="produto-preco">R${{ product.price }}</p>
    <hr>

    <small class="descricao">
        {{ product.description | linebreaksbr }}
    </small>

    <a class="btn-carrinho" href="{% url 'add_to_cart' product.id %}">Adicionar ao carrinho</a>
    <p class="aviso">
      Produto digital, o download será liberado após o pagamento
    </p>
  </div>




</main>
<h1 class="veja">Veja mais</h1>
<div class="produtos">
    {% for product in products %}
    <div class="produto">
        <a href="{% url 'product' product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>

        <p class="nome">{{ product.name }}</p>
        <p class="preco">R${{ product.price }}</p>
    </div>
    {% endfor %}

</div>
{% endblock %}