body {
    background-color: #f9f6ef;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


/* ====== HEADER ====== */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #f9f6ef;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0 25px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.05);
}

/* form */
.header-search {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* LOGO */
.logo {
    width: 230px;
    justify-content: end;
    margin-left: 45px;
    margin-right: 120px;
}

/* GRUPO DA DIREITA (input, lupa, carrinho, menu) */
.direita {
    display: flex;
    align-items: center;
    gap: 140px;
}

/* INPUT */
.pesquisa {
    width: 600px;
    height: 40px;
    padding: 0 15px;
    border-radius: 8px 0 0 8px;
    border: none;
    background: #eae9e9;
    font-size: 15px;
}

.lupa {
    border: none;
    background: #eae9e9;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    margin-right: 0px;
}

.lupa img {
    width: 20px;
}

/* BOTÃO CARRINHO */
#openmodal {
    border: none;
    background: none;
    cursor: pointer;
}

.carrinho {
    width: 32px;
    height: 32px;
}

/* MENU */
.menu {
    width: 35px;
    cursor: pointer;
    border-radius: 20px;
    padding: 0  ;
    box-shadow: 1px 1px 4px #ccc;   
}

/* Fundo escuro atrás do modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}


/* Caixa do modal */
.modal-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: #f9f6ef;
    border-top-left-radius: 30px;
    transform: translateX(100%);
    transition: transform 0.4s ease;

    overflow-y: scroll;
}
.modal.ativo {
    opacity: 1;
    pointer-events: auto;
}

.modal.ativo .modal-content {
    transform: translateX(0);
}

/* Botão de fechar (X) */
.close {
    position: absolute;
    top: 30px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    border: none;
    background:none ;
    height: 20px;
}

.pop{
    width: 90%;
    margin-left: 5%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f1119b;
    color: #eae9e9;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.p-pop{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 12px;
    font-family: "montserrant","Poppins", sans-serif;
}

.value{
    width: 100%;
    height: 230px;
    background-color: #f9f6ef;
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column ;
    z-index: 1100;
    
}
.dinheiro{
    margin-bottom: 10px;
    padding-top: 0 ;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.elder-ajeita{
    width: 80px;
    margin-left: 5%;
}
.valor{
    width: 80px;
    margin-right: 15px;
}
.textopop{
    margin-left: 5%;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 30px;
}

.falta-de-conta{
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: -10%;
}
.ausente{
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}
.ausente2{
    margin-top: 0;
}
.Fazer-login{
   
    text-decoration: none;
    color: #f1119b;
}

.links{
    width: 100%;
    display: flex;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.iitem-carrinho {
    display: flex;
    align-items: flex-start;     /* centraliza imagem e texto */
    gap: 15px;               /* espaço entre imagem e textos */
}

.iimgcarrinho {
    width: 150px;
    height:150px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px #ccc;

}

.iinfo {
    display: flex;
    flex-direction: column;  /* nome em cima, preço embaixo */
    justify-content: flex-start;
    gap: 4px;
    padding-top: 0;
    margin-top: 0;

}

.nnome {
    
    padding: 0;
    margin-top:10px ;
    margin-bottom: 5px;
}

.ppreco {
    font-size: 14px;
    color: #282828;
    margin-top: 0;
}

.remove{
    text-decoration: none;
    color: #f1119b;
    margin-top:45px ;
}



@media (max-width: 1485px) {
    header{
        justify-content: center;
        width: 100%;
    }

    .logo{
        width: 160px;
        margin-left: 0px;
        margin-right: 80px;
    }
    .pesquisa {
        display: 60px;
        height: 35px;
        width: 700px;
    }

    .lupa {
        height: 35px;
        margin-right: 75px ;
    }

    .direita{
        gap: 45px;
        margin-right: 40px;
    }

    .carrinho{
        height: 25px;
        width: 25px;
    }

    .menu{
        height: 35px;
        width: 35px;
        margin-right: 30px;
        border-radius: 20px;
        padding: 0;
    }

.modal-content {
        width: 40%;
        margin-left: 60%;
        border-radius: 15px 0 0 0;
        bottom: 0;
        position: fixed;
    }

    .pop {
        width: 90%;
        justify-content: center;
        display: flex;
        padding: 12px;
        margin-left:20px;
    }

    .value {
        padding-bottom: 20px;
    }

    .close{
        margin-right:25px;
        margin-top: 15px;
    }
}

/* MOBILE */
@media (max-width: 768px) {

    header {
        height: 90px;
        padding: 0 15px;
        width: 100%;
    }

    .logo {
        width: 130px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .pesquisa {
        width: 300px;
        
    }
    .lupa{
        margin-right: 70px;
    }

    .direita {
        gap: 50px;
        margin-right: 30px;
    }
}