/* Corpo da página*/
body{
    background-color: #f9f6ef;
    display: block;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
/* cabeçario*/
header{
    position: fixed;
    margin-top: -140px;
    height: 100px;
    box-shadow: 0 1px 5px 1px #eae9e9 ;
    background-color: #f9f6ef;
    width:100%;
    overflow: hidden;
    z-index: 999;
}
/* Logo B-Bordados*/
.logo{
    margin-right: 130px;
    width: 230px;
    margin-left: 65px;
    margin-top: 30px;
}
/* imput de pesquisa*/
.pesquisa {
    display: flex;
    margin-right: 0px;
    width: 590px;
    align-items: center;
    padding-left: 15px;
    padding-right: 70px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    background-color:#eae9e9;
    height: 35px;
    margin-top: 7px;
}

.lupaimg{
    width: 20px;
}
.lupa {
    height: 35px;
    width: 20px;
    border: none;
    cursor: pointer;
    
    background-color:#eae9e9 ;
    margin-left: -40px;
    margin-right: 280px;
    margin-top: 8px;
}

/* Menu Hamburguer*/
.MenuHamburguer{
    margin-top: 4px;
    height: 31.5px;
    margin-right: 10px;
    background-color: #f9f6ef;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
}
.menu{
    display: flex;
    width: 20px;
    height: 20px;
    padding-top: 5px;
    padding: 5px;
    margin: none;
    padding: none;
    margin-top: 3px;
    cursor: pointer;
}
/* Grupo Imput com Menu hamburguer*/
.direita{
    display: flex;
   margin-top: 0;
    height: 50px;
    margin-left: 420px;
    margin-top: -45px;
}
/* Carrinho de compras*/
.carrinho{
    cursor: pointer;
    margin-right: 70px;
    height: 30px;
    width: 35px;
    margin-top: 5px;
}

/* Texto, centro da página*/
.texto{
    
    margin-left: 80px;
    margin-top: 100px;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 35px;
    color: #282828;
    margin-bottom: 30px;
}
/* botões de filtro*/
.filtro{
    margin-left: 76px;  
}
.filtro button{  
    padding: 15px;
    margin-right: 25px;
    border-radius: 10px;
    border: none;
    background-color: #eae9e9;
    margin-top: -5px;
    cursor: pointer;
    width: 110px;
    color: #282828;
}

.filtro button:hover{
    background-color: #f1119b;
    color: #f9f6ef;
}
/* Produtos*/
.produtos{
    margin-left: 62px;
    display: flex;
    
}

.produtos img{
    margin-top: 40px;
    height: 330px;
    margin-right: 30px;
    border-radius: 18px;
    margin-right: 80px;
}
::-webkit-scrollbar{
   
    background-color: #f9f6ef;
    color: #f1119b;
}

.slider{
    margin: auto;
    margin-top: 140px;
    width: 1000px;
    height: 250px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 250px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
}

.slide img {
    width: 1000px; 
    border-radius: 10px;
}

.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: 15px;
    display: flex;
    justify-content: center;

}

.manual-bnt{
    border: 2px solid #282828;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    color: #282828;

}

.manual-bnt:not(:last-child){
    margin-right: 8px;
}

.manual-bnt:hover{
    background-color: #282828;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75% ;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-bnt1{
    background-color: #fff;
} 
#radio2:checked ~ .navigation-auto .auto-bnt2{
    background-color: #fff;
} 
#radio3:checked ~ .navigation-auto .auto-bnt3{
    background-color: #fff;
} 
#radio4:checked ~ .navigation-auto .auto-bnt4{
    background-color: #fff;
} 


.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 0px;
    margin-top: 35px;
}

.produto {
    width: 330px; 
    display: flex;
    flex-direction: column;
    
}

.produto img {
    height: 87%;
    width: 87%;
    object-fit: cover;
    border-radius: 16px;
    margin-left: 75px;
    margin-right: -10px;
    align-items: center;
    box-shadow: 1px 1px 3px 1px #eae9e9 ;
    
}

.produto p {
    margin: 5px 0 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-left: 85px;
    color: #282828;
    
}

.preco{
    font-weight: bold;
    
}

.parcela{
    
}