/* Corpo da página*/
body{
    background-color: #f9f6ef;
    display: block;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
/* cabeçario*/
header{
    position: fixed;
    margin-top: -140px;
    height: 100px;
    
    background-color: #f9f6ef;
    width:100%;
    overflow: hidden;
    z-index: 999;
}
/* Logo B-Bordados*/
.logo{
    margin-right: 130px;
    width: 230px;
    margin-left: 65px;
    margin-top: 30px;
}
/* imput de pesquisa*/
.pesquisa {
    display: flex;
    margin-left: 55vh;
    width: 590px;
    align-items: center;
    padding-left: 15px;
    padding-right: 70px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    text-decoration: none;
    text-transform: none;
    background-color:#eae9e9;
    height: 35px;
    margin-top: -38px;
}
    
.lupa {
    display: flex;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    background-color:#eae9e9 ;
    margin-left: 1050px;
    margin-right: 280px;
    margin-top: -32px;
}

.menu{
    display: flex;
    width: 20px;
    height: 20px;
    padding-top: 5px;
    padding: 5px;
    margin-top: -30px;
    cursor: pointer;
    margin-left: 194vh;
}
/* Grupo Imput com Menu hamburguer*/

/* Carrinho de compras*/
.carrinho{
    cursor: pointer;
    margin-right: 70px;
    height: 30px;
    width: 35px;
    margin-top: 0;
}

/* Texto, centro da página*/
.texto{
    
    margin-left: 80px;
    margin-top: 100px;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 35px;
    color: #282828;
    margin-bottom: 30px;
}
/* botões de filtro*/
.filtro{
    margin-left: 76px;  
}
.filtro button{  
    padding: 15px;
    margin-right: 25px;
    border-radius: 10px;
    border: none;
    background-color: #eae9e9;
    margin-top: -5px;
    cursor: pointer;
    width: 110px;
    color: #282828;
}

.filtro button:hover{
    background-color: #f1119b;
    color: #f9f6ef;
}
/* Produtos*/
.produtos{
    margin-left: 62px;
    display: flex;
    
}

.produtos img{
    margin-top: 40px;
    height: 330px;
    margin-right: 30px;
    border-radius: 18px;
    margin-right: 80px;
}
::-webkit-scrollbar{
   
    background-color: #f9f6ef;
    color: #f1119b;
}

.slider{
    margin: auto;
    margin-top: 140px;
    width: 1000px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}
.slides{
    width: 400%;
    height: 250px;
    display: flex;
    
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 1.4s;
}

.slide img {
    width: 1000px; 
    
}

.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: 15px;
    display: flex;
    justify-content: center;

}

.manual-bnt{
    border: 2px solid #282828;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    color: #282828;

}

.manual-bnt:not(:last-child){
    margin-right: 8px;
}

.manual-bnt:hover{
    background-color: #282828;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75% ;
}

.navigation-auto div{
    border: 1px solid #282828;
    padding:3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 265.8px;
    display: flex;
    justify-content: center;
    
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
    margin-right: 9.85px;
}

#radio1:checked ~ .navigation-auto .auto-bnt1{
    background-color: #282828;
    color: #282828;
} 
#radio2:checked ~ .navigation-auto .auto-bnt2{
    background-color: #282828;
    color: #282828;
} 
#radio3:checked ~ .navigation-auto .auto-bnt3{
    background-color: #282828;
} 
#radio4:checked ~ .navigation-auto .auto-bnt4{
    background-color: #282828;
} 



.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-left: 0px;
    margin-top: 35px;
}

.produto {
    width: 330px; 
    display: flex;
    flex-direction: column;
    
}

.produto img {
    height: 87%;
    width: 87%;
    object-fit: cover;
    border-radius: 16px;
    margin-left: 75px;
    margin-right: -10px;
    align-items: center;
    box-shadow: 1px 1px 3px 1px #eae9e9 ;
    
}

.produto p {
    margin: 5px 0 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-left: 85px;
    color: #282828;
    
}

.preco{
    font-weight: bold;
}

#openmodal{
    width: 45px;
    background-color: #f9f6ef;
    display: flex;
    margin-left: 175vh;
    margin-top: -34px;
    border: none;
    
}

/* Fundo escuro atrás do modal */
.modal {
    display: none;              /* começa invisível */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

/* Caixa do modal */
.modal-content {
    background: #f9f6ef;
    width: 100%;
    border-top-left-radius: 30px;
    position: relative;
    margin-left: 50%;
    
}

/* Botão de fechar (X) */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.pop{
    width: 90vh;
    margin-left: 20px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f1119b;
    color: #eae9e9;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 15px;
}

.p-pop{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 12px;
    font-family: "montserrant","Poppins", sans-serif;
}

.value{
    width: 100%;
    height: 200px;
    background-color: #eae9e9;
    margin: 0;
}

.elder-ajeita{
    margin-left: 20px;
    padding-top: 35px ;
    margin-bottom: 27px;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 15px;
}

.textopop{
    margin-left: 20px;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 30px;
}