/* Corpo da página*/
body {
    background-color: #f9f6ef;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* Texto, centro da página*/
.texto{
    margin-left: 80px;
    margin-top: 100px;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 35px;
    color: #282828;
    margin-bottom: 30px;
}
/* botões de filtro*/
.filtro{
    margin-left: 76px;  
}
.filtro button{  
    padding: 15px;
    margin-right: 25px;
    border-radius: 10px;
    border: none;
    background-color: #eae9e9;
    margin-top: -5px;
    cursor: pointer;
    width: 110px;
    color: #282828;
}

.filtro button:hover{
    background-color: #f1119b;
    color: #f9f6ef;
}
/* Produtos*/
.produtos{
    margin-left: 62px;
    display: flex;
    
}

.produtos img{
    margin-top: 40px;
    height: 330px;
    margin-right: 30px;
    border-radius: 18px;
    margin-right: 80px;
}
::-webkit-scrollbar{
   
    background-color: #f9f6ef;
    color: #f1119b;
}

.slider{
    margin: auto;
    margin-top: 140px;
    width: 1108px;
    height: 182px;
    overflow: hidden;
    border-radius: 10px;
    
    
}
.slides{
    width: 400%;
    height: 250px;
    display: flex;
    
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 1.4s;
}

.slide img {
    width: 1108px;
    height: 182px;
}

.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-left: 3%;
    
}

.manual-bnt{
    border: 2px solid #282828;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    color: #282828;
    

}

.manual-bnt:not(:last-child){
    margin-right: 8px;
}

.manual-bnt:hover{
    background-color: #282828;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75% ;
}

.navigation-auto div{
    border: 1px solid #282828;
    padding:3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 265.8px;
    display: flex;
    justify-content: center;
     margin-left: 3%;
    
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
    margin-right: 9.85px;
}

#radio1:checked ~ .navigation-auto .auto-bnt1{
    background-color: #282828;
    color: #282828;
} 
#radio2:checked ~ .navigation-auto .auto-bnt2{
    background-color: #282828;
    color: #282828;
} 
#radio3:checked ~ .navigation-auto .auto-bnt3{
    background-color: #282828;
} 
#radio4:checked ~ .navigation-auto .auto-bnt4{
    background-color: #282828;
} 



.produtos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    width: 90%;
    margin: 0 auto 40px auto;
    justify-items: center;
    margin-top: 50px;
}

.produto {
    width: 260px; 
    display: flex;
    flex-direction: column;
    
}

.produto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin: 0px;
    box-shadow: 1px 1px 4px #ccc;
    
}

.produto p {
    margin: 5px 0 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    margin-left: 15px;
    color: #282828;
    
}

.preco{
    font-weight: bold;
}
/* Fundo escuro atrás do modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

/* ====== MEDIA QUERIES ====== */
@media (max-width: 1485px) {
    header{
        justify-content: center;
    }

    .logo{
        width: 160px;
        margin-left: 0px;
        margin-right: 80px;
    }
    .pesquisa {
        display: 60px;
        height: 35px;
        width: 700px;
    }

    .lupa {
        height: 35px;
        margin-right: 75px ;
    }

    .direita{
        gap: 45px;
        margin-right: 40px;
    }

    .carrinho{
        height: 25px;
        width: 25px;
    }

    .menu{
        height: 35px;
        width: 35px;
        margin-right: 30px;
        border-radius: 20px;
        padding: 0;
    }

     /* ===== SLIDER ===== */
    .slider {
        width: 95%;
        height: 160px;
        margin-top: 120px;
        border-radius: 10px;
        overflow: hidden;
    }

    .slide img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .manual-bnt{
        padding: 2px;
        
     }
     .manual-bnt:not(:last-child){
        margin-top: 0;
     }
    .manual-navigation,
    .navigation-auto {
        width: 100%;
        margin-top: -83px;
    }
/* ===== TEXTO PRINCIPAL ===== */
    .texto {
        margin: 45px auto 10px 70px;
        font-size: 22px;
        font-weight: 600;
    }

    /* ===== FILTROS ===== */
    .filtro {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;
        margin: 20px auto 20px auto;
        width: 90%;
    }

    .filtro button {
        padding: 12px 10px;
        border-radius: 6px;
        font-size: 15px;
        width: auto;
        margin-right: 15px;
        width: 120px;
    }

/* ===== PRODUTOS ===== */
    .produtos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        width: 90%;
        margin: 0 auto 40px auto;
        justify-items: center;
    }

    .produto {
        width: 100%;
        margin-top: 20px;
    }

    .produto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        margin: 0px;
        box-shadow: 1px 1px 4px #ccc;
    }

    .produto p {
        margin-top: 5px;
        font-size: 18px;
        margin-left: 15px;
    }
    /* ===== MODAL ===== */
    .modal-content {
        width: 40%;
        margin-left: 60%;
        border-radius: 15px 0 0 0;
        bottom: 0;
        position: fixed;
    }

    .pop {
        width: 90%;
        justify-content: center;
        display: flex;
        padding: 12px;
        margin-left:20px;
    }

    .value {
        padding-bottom: 20px;
    }

    .close{
        margin-right:25px;
        margin-top: 15px;
    }
}

/* MOBILE */
@media (max-width: 768px) {

    header {
        height: 90px;
        padding: 0 15px;
    }

    .logo {
        width: 130px;
        margin-left: 20px;
        margin-right: 30px;
    }

    .pesquisa {
        width: 300px;
        
    }
    .lupa{
        margin-right: 70px;
    }

    .direita {
        gap: 50px;
        margin-right: 30px;
    }

    /* ===== SLIDER ===== */
    .slider {
        width: 95%;
        height: 160px;
        margin-top: 100px;
        border-radius: 10px;
        overflow: hidden;
    }

    .slide img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .manual-bnt{
        padding: 2px;
        
     }
     .manual-bnt:not(:last-child){
        margin-top: 0;
     }
    .manual-navigation,
    .navigation-auto {
        width: 100%;
        margin-top: -83px;
    }

    /* ===== TEXTO PRINCIPAL ===== */
    .texto {
        margin: 40px auto 10px 40px;
        text-align: start;
        font-size: 22px;
        font-weight: 600;
    }

    /* ===== FILTROS ===== */
    .filtro {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;
        margin: 20px auto 20px auto;
        width: 90%;
    }

    .filtro button {
        padding: 8px 10px;
        border-radius: 6px;
        font-size: 14px;
        width: auto;
        margin-right: 0;
        width: 120px;
    }

/* ===== PRODUTOS ===== */
    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 90%;
        margin: 0 auto 40px auto;
        justify-items: center;
    }

    .produto {
        width: 100%;
        margin-top: 20px;
    }

    .produto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        margin: 0px;
        box-shadow: 1px 1px 4px #ccc;
    }

    .produto p {
        margin-top: 5px;
        font-size: 18px;
        margin-left: 15px;
    }

    /* ===== MODAL ===== */
    .modal-content {
        width: 100%;
        margin: 0;
        border-radius: 15px 0 0 0;
        bottom: 0;
        position: fixed;
    }

    .pop {
        width: 90%;
        justify-content: center;
        display: flex;
        padding: 12px;
       margin-left: 25px;
    }
    

    .value {
        padding-bottom: 20px;
    }

    .close{
        margin-right:21px;
        margin-top: 20px;
    }

    .menu{
        width: 35px;
        height: 35px;
        
    }
}


/* TELAS MUITO PEQUENAS */
@media (max-width: 480px) {
    header{
        justify-content: center;
        position: fixed;
    }

    .logo{
        display: none; /* some no mobile */
    }
    .pesquisa {
        display: 60px;
        height: 35px;
        width: 200px;
    }

    .lupa {
        height: 35px;
        margin-right: 30px ;
    }

    .direita{
        gap: 15px;
        margin-right: 30px;
    }

    .carrinho{
        height: 25px;
        width: 25px;
    }

    .menu{
        height: 15px;
        width: 15px;
        margin-right: 8px;
    }
    /* ===== SLIDER ===== */
    .slider {
        width: 95%;
        height: 160px;
        margin-top: 100px;
        border-radius: 10px;
        overflow: hidden;
    }

    .slide img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .manual-bnt{
        padding: 2px;
        
     }
     .manual-bnt:not(:last-child){
        margin-top: 0;
     }
    .manual-navigation,
    .navigation-auto {
        width: 100%;
        margin-top: -83px;
    }

    /* ===== TEXTO PRINCIPAL ===== */
    .texto {
        margin: 40px auto 10px 25px;
        text-align: start;
        font-size: 22px;
        font-weight: 600;
    }

    /* ===== FILTROS ===== */
    .filtro {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
        margin: 10px auto 20px auto;
        width: 90%;
    }

    .filtro button {
        padding: 8px 8px;
        border-radius: 6px;
        font-size: 11px;
        width: auto;
        margin-right: 0;
        width: 80px;
    }

    /* ===== PRODUTOS ===== */
    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 90%;
        margin: 0 auto 40px auto;
        justify-items: center;
    }

    .produto {
        width: 100%;
        
    }

    .produto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        margin: 0;
        box-shadow: 1px 1px 4px #ccc;
    }

    .produto p {
        margin-top: 5px;
        font-size: 12px;
        margin-left: 15px;
    }

    /* ===== MODAL ===== */
    .modal-content {
        width: 100%;
        margin: 0;
        border-radius: 15px 0 0 0;
        bottom: 0;
        position: fixed;
    }

    .pop {
        width: 90%;
        justify-content: center;
        display: flex;
        padding: 12px;
        margin-left:15px;
    }

    .value {
        padding-bottom: 20px;
    }

    .close{
        margin-right:16px;
        margin-top: 15px;
    }
    .menu{
        width: 25px;
        height: 25px;
    }
}
