
/* Caixa do modal */
.modal-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 40px 30px 30px;
    box-sizing: border-box;
    background: #f9f6ef;
    border-top-left-radius: 30px;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    overflow-y: scroll;
}
.modal.ativo {
    opacity: 1;
    position: fixed;
    pointer-events: auto;
    z-index: 10000;
    isolation: isolate;
}

.modal.ativo .modal-content {
    transform: translateX(0);
}

/* Botão de fechar (X) */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    border: none;
    background:none ;
    height: 20px;
}

.pop{
    width: 90%;
    margin-left: 5%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f1119b;
    color: #f9f6ef;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.p-pop{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 12px;
    font-family: "montserrant","Poppins", sans-serif;
}

.value{
    width: 100%;
    height: 230px;
    background-color: #f9f6ef;
    margin: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column ;
    z-index: 1100;
    
}
.dinheiro{
    margin-bottom: 10px;
    padding-top: 0 ;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.elder-ajeita{
    width: 80px;
    margin-left: 5%;
}
.valor{
    width: 80px;
    margin-right: 15px;
}
.textopop{
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 5%;
    font-family: "montserrant","Poppins", sans-serif;
    font-size: 30px;
}

.falta-de-conta{
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}
.ausente{
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}
.ausente2{
    margin-top: 0;
}
.Fazer-login{
   
    text-decoration: none;
    color: #f1119b;
}

.links{
    width: 100%;
    display: flex;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.iitem-carrinho {
    display: flex;
    align-items: flex-start;     /* centraliza imagem e texto */
    gap: 15px;               /* espaço entre imagem e textos */
}

.iimgcarrinho {
    width: 150px;
    height:150px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px #ccc;

}

.iinfo {
    display: flex;
    flex-direction: column;  /* nome em cima, preço embaixo */
    justify-content: flex-start;
    gap: 4px;
    padding-top: 0;
    margin-top: 0;

}

.nnome {
    
    padding: 0;
    margin-top:10px ;
    margin-bottom: 5px;
}

.ppreco {
    font-size: 14px;
    color: #282828;
    margin-top: 0;
}

.Box{
    color: #f1119b;
    margin-top: 50px ;
    border: none;
    padding: 8px;
    border-radius: 7px;
    background-color: #f1119b;
    cursor: pointer;
}

.remove {
    text-decoration: none;
    color: #f9f6ef;
}