

.container{
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.botoes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.botoes button{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #eae9e9 ;
    color: #282828;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 80px;
}

.botoes button:hover{
    background-color: #f1119b;
    color: #f9f6ef;
}

.txt-top{
    margin-top: 180px;
    margin-left: 80px;
    font-family: "montserrant","Poppins", sans-serif;
}

.iiimgcarrinho{
    width: 240px;
    height: 240px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
}

.pparcela{
    margin-bottom: 60px;
}
.iitem-carrinho button{
    width: 220px;
    padding: 11px;
    border-radius: 8px;
    border: none;
    background-color: #f1119b;
    color: #f9f6ef;
    cursor: pointer;
}