* {
    font-family: "montserrant", "Poppins", sans-serif;
}

/* ===== TÍTULO ===== */
.search-title {
    margin-top: 80px;
    margin-left: 90px;
}

/* ===== LAYOUT ===== */
.search-layout {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;
    align-items: start;
}

/* ===== FILTROS ===== */
.search-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-filters button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #eae9e9;
    color: #282828;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 80px;
}

.search-filters button:hover {
    background-color: #f1119b;
    color: #f9f6ef;
}

/* ===== PRODUTO ===== */
.product-card {
    grid-column: 2;
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 40px;
}

/* ===== IMAGEM ===== */
.product-image {
    width: 240px;
    height: 240px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
    object-fit: cover;
}

/* ===== INFO ===== */
.product-info {
    margin-top: 0;
}

.product-link {
    text-decoration: none;
    color: #282828;
}

.product-link:hover{
    color: #f1119b;
}

.product-name {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 12px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-installments {
    margin-top: 4px;
    margin-bottom: 95px;
    font-size: 14px;
}

/* ===== BOTÃO ===== */
.product-card button {
    width: 190px;
    padding: 11px;
    border-radius: 8px;
    border: none;
    background-color: #f1119b;
    color: #f9f6ef;
    cursor: pointer;
}

/* ===== MODAL ===== */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}
