<header class="header">
    {% load static %}

        <a href="{% url 'home' %}">
            <img src="{% static 'home/logo_bbordados.svg' %}" alt="" class="logo">
        <a href="{% url 'home' %}" style="text-decoration: none; cursor: pointer; color: 282828;"> 
        <i class="fa-solid fa-house" id="home" style="text-decoration: none; color: #282828;"></i>
        </a>
        </a>

        

    <div class="groupe">     
        <form action="{% url 'pesquisa' %}" method="get" class="form-search" >
            <input 
            type="text" 
            name="q"
            id="pesquisar" 
            placeholder="Pesquisar" 
            value="{{ query|default:'' }}"
            class="search">
        </form>

        <button class="glass-button">
            <img src="https://img.icons8.com/?size=100&id=e4NkZ7kWAD7f&format=png&color=000000" alt="" class="glass">
        </button> 
    </div>
        <div class="right">
            <button id="openmodal">
                <img src="https://img.icons8.com/?size=100&id=59997&format=png&color=000000" alt=""class="cart"  >
            </button>

            <a href="{% url 'profile' %}">
                <img src="{% static 'accounts/' %}{{ request.user.customer.avatar | default:'avatar_none' }}.png" 
                alt="profile-picture"
                class="account">
            </a>
        </div>  
</header>
