* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background: #f9f6ef;
}

.container {
    display: flex;
    min-height: 100vh;
    
}

#sidebar {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f6ef;
    height: 100%;
    border-radius: 0px 0px 18px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
    margin-top: 25px ;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
   
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #f1119b;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #f1119b;
    color: #e3e9f7;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


/* ===== MODAL ===== */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}


.meus-pedidos {
    padding: 40px;
    width: 100vh;
    background: #f9f6ef;
    font-family: 'Poppins', sans-serif;
    margin-left: 90px;
    margin-top: 30px;
}

.meus-pedidos h2 {
    font-size: 26px;
    margin-bottom: 30px;
}

.pedido-card {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.pedido-img {
    width: 220px;
    height: 220px;
    background: #ececec;
    border-radius: 12px;
}

/* INFO */
.pedido-info h3 {
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 10px;
}

/* STATUS */
.pedido-status {
    list-style: none;
    padding: 0;
    margin: 0 0 16px;
}

.status {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 6px;
    color: #444;
}

.status small {
    margin-left: auto;
    font-size: 12px;
    color: #777;
}

/* RADIO */
.radio {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

/* ESTADOS */
.status.done .radio {
    background: #ccc;
    border-color: #282828;
}

.status.active {
    color: #ff1493;
}

.status.active .radio {
    border-color: #ff1493;
    background: #ff1493;
}

/* BOTÃO */
.btn-download {
    margin-top: 45px;
    padding: 10px 18px;
    background: #ff1493;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.btn-download:hover {
    opacity: 0.9;
}

@media (max-width: 480px ){
    #sidebar{
        margin-top: 2px;
    }

    .meus-pedidos{
        margin-top: 5px;
        font-size: 15px;
        margin-left: 65px;
    }


}

@media (max-width: 900px ){
    #sidebar{
        margin-top: 10px;
    }
}