* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f6ef;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #eae9e9;
    padding: 20px;
    border-right: 1px solid #c1b7b7 ;
}

.sidebar div{
    margin-top: 30px;
    margin-left: 10px;
}

.sidebar a {
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    color: #282828;
    height: 40px;
    border: none;
    text-align: left;
    cursor: pointer;
    gap: 10px;
}

.sidebar a:hover{
    color: #ff1493;
}

.sidebar .active{
    color: #ff1493;

}

.logout {
    margin-top: 0;
}


.faq {
  max-width: 900px;
  margin: 60px auto;
}

.faq h1 {
  font-size: 30px;
  margin-bottom: 50px;
}

.faq h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.accordion-item {
  margin-bottom: 18px;
  border-radius: 14px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  background: transparent;
  border: 1.5px solid #282828;
  padding: 18px 22px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.accordion-item.active .accordion-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid #282828;
  border-bottom: 2px solid #282828;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.accordion-item.active .arrow {
  transform: rotate(-135deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background: #e5e5e5;
  transition: max-height 0.65s ease;
}

.accordion-content p {
  padding: 22px;
  font-size: 14px;
  line-height: 1.6;
  color: #282828;
}

.accordion-item.active .accordion-content {
  max-height: 300px;
}
