* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background: #f9f6ef;
}

/* ===== MODAL ===== */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.container {
    display: flex;
    min-height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f9f6ef;
}

main {
    position: relative;
    z-index: 1;
    padding-left: calc(82px + 20px);
    flex: 1;
    padding: 40px;
    margin-left: 150px;
    
    
}

#sidebar {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100%;
    border-radius: 0px 0px 18px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
    margin-top: 25px ;
   
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #f1119b;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #f1119b;
    color: #e3e9f7;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/* CONTEÚDO */

.content h1{
    margin-top: 20px;
    margin-bottom: 60px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
}

/* FOTO */
.photo-area {
    width: 250px;
    text-align: center;
}

.photo {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background: #ddd;
    overflow: hidden;
    margin: 0 auto 12px;
    box-shadow: 1px 1px 4px #ccc;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-photo {
    background: #ff1493;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 6px;
    cursor: pointer;
    width: 200px;
}

.photo-area small {
    display: block;
    margin-top: 6px;
    font-size: 12px;
}

/* FORM */
.form {
    flex: 1;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.field {
    flex: 1;
    max-width: 400px;
}
.field div{
    width: 100px;
}

.field label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.field input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #282828;
    background-color: #f9f6ef;
}

.x::after{
    content:" *";
    color: #ff1493;
}

.date {
    display: flex;
    gap: 10px;
}

.date input {
    width: 100px;
    margin-right: 8px;
}

.align-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.btn-save {
    background: #ff1493;
    color: #fff;
    border: none;
    padding: 14px 26px;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    transition: background-color 0.2s ease;
}

.gender {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.input-edit-wrapper {
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
    display: flex;
    
}

.input-edit-wrapper input {
    display: flex;
    cursor: not-allowed;
    width: 45%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #282828;
    background-color: #dad8d2;
    
    
}

.readonly-group label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

/* Botão editar */
.btn-edit {
    height: 43px;
    width: 150px;
    padding: 0 20px;
    border-radius: 10px;
    border: none;
    background-color: #ff1493;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-edit:hover {
    background-color: #e01384;
}
.container2{
    margin-top: 40px;
}

.line{
    display: flex;
}

    @media (max-width: 1350px) {
    .content {
        padding: 30px;
    }

    .card {
        gap: 30px;
    }

    .btn-save {
        width: 90%;
    }
}
    @media (max-width: 1170px) {
    .row {
        flex-direction: column;
        gap: 14px;
    }

    .field {
        max-width: 100%;
    }

    .btn-save {
        margin-top: 30px;
        width: 100%;
    }

    .gender{
        margin-top: -95px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 24px;
    }

    .date input{
        width: 80px; 
    }

}

@media (max-width: 825px) {

    .date input{
        width: 70px;
    }

}

@media (max-width: 800px) {

    .content h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .photo-area {
        width: 100%;
    }

    .form {
        width: 100%;
    }

    .row {
        flex-direction: column;
        gap: 16px;
    }

    .field {
        max-width: 100%;
    }

    .align-end {
        justify-content: center;
    }

    .btn-save {
        width: 100%;
    }

    .gender {
        justify-content: center;
    }

    .date input{
      width: 100px;
    }

}


@media (max-width: 610px) {

    .date input{
        width: 90px;
    }

}

@media (max-width: 480px) {

    .sidebar{
        width: 120px;
        
    }

    .sidebar div{
        margin-left: 0;
        margin-top: 10px;
    }

    .content{
        padding: 15px;
    }

    .content h1{
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .sidebar a{
        font-size: 12px;
    }

    .photo {
        width: 150px;
        height: 150px;
    }

    .date {
        gap: 5px;
    }

    .date input {
        width: 65px;
        margin-right: 2px;
    }

    .card{
       gap: 20px; 
    }
}
