{% extends 'home/base.html' %}

{% block title %}Meus Pedidos{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/myproducts.css' %}">

<div class="container" style="margin-top: 0px;">
    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div>
            <a href="{% url 'profile' %}"><i class="fa-regular fa-user"></i> Conta</a>
            <a href="{% url 'perguntas' %}"><i class="fa-solid fa-bell-concierge"></i> Suporte</a>
            <a class="active"><i class="fa-solid fa-bag-shopping"></i> Meus Pedidos</a>
            <a href="#"><i class="fa-regular fa-money-bill-1"></i> Reembolsos</a>
            <a href="{% url 'logout' %}" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
        </div>
</aside>

<section class="meus-pedidos">

  <h2>Meus Pedidos</h2>

{% if products %}
  {% for product in products %}
    <div class="pedido-card">

      <img class="pedido-img"
           src="{{ product.image.url }}"
           alt="{{ product.name }}">

      <div class="pedido-info">
        <h3>{{ product.name }}</h3>

        <ul class="pedido-status">
          <li class="status done">
            <span class="radio"></span>
            Pedido Realizado
          </li>

          <li class="status {% if product.is_paid %}done{% endif %}">
            <span class="radio"></span>
            Pagamento Confirmado
          </li>

          <li class="status {% if product.is_paid %}active{% endif %}">
            <span class="radio"></span>
            Download Liberado
          </li>
        </ul>

        {% if product.is_paid %}
          <button class="btn-download">
            Pronto para Download
          </button>
        {% else %}
          <span class="aguardando">
            Aguardando pagamento
          </span>
        {% endif %}
      </div>

    </div>
  {% endfor %}
{% else %}
  <p class="nenhum-pedido">Você ainda não possui produtos.</p>
{% endif %}

</section>


</div>    
{% endblock %}