{% extends 'home/base.html' %}

{% block title %}Perguntas Frequentes{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/perguntas.css' %}">

<div class="container" style="margin-top: 0px;">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div>
            <a href="{% url 'profile' %}"><i class="fa-regular fa-user"></i> Conta</a>
            <a href="{% url 'perguntas' %}"><i class="fa-solid fa-bell-concierge"></i> Suporte</a>
            <a class="active"><i class="fa-solid fa-bag-shopping"></i> Meus Pedidos</a>
            <a href="#"><i class="fa-regular fa-money-bill-1"></i> Reembolsos</a>
            <a href="{% url 'logout' %}" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
        </div>
    </aside>

    <div class="faq">
        <h1>Suporte</h1>
        <h2>Perguntas Frequentes</h2>

    <div class="accordion">

    <div class="accordion-item">
      <button class="accordion-header">
            <span>Essas matrizes funcionam em qualquer máquina de bordado?</span>
            <i class="arrow"></i>
      </button>
        <div class="accordion-content">
            <p>
            Nossas matrizes são disponibilizadas nos principais formatos do mercado (como PES, JEF, DST, EXP, entre outros). 
            Antes de finalizar a compra, verifique se o formato da sua máquina está listado na descrição do produto.
            </p>
        </div>
    </div>

    <div class="accordion-item">
      <button class="accordion-header">
            <span>Após a compra, como recebo as matrizes? É imediato?</span>
            <i class="arrow"></i>
        </button>
        <div class="accordion-content">
            <p>
             Sim. Assim que o pagamento é confirmado, o download é liberado automaticamente na área Meus Pedidos. 
             Você pode baixar quantas vezes quiser.
            </p>
        </div>
    </div>

    <div class="accordion-item active">
        <button class="accordion-header">
            <span>Posso redimensionar ou editar as matrizes?</span>
            <i class="arrow"></i>
        </button>
        <div class="accordion-content">
            <p>
            Você pode fazer pequenos ajustes de tamanho e cores 
            diretamente na sua máquina ou software. Porém, 
            redimensionamentos muito grandes podem comprometer 
            a qualidade do bordado. Para alterações avançadas, 
            recomendamos o uso de softwares específicos de 
            edição de matrizes.
            </p>
        </div>
    </div>

    <div class="accordion-item">
      <button class="accordion-header">
            <span>Posso usar as matrizes para vender produtos bordados?</span>
            <i class="arrow"></i>
      </button>
        <div class="accordion-content">
            <p>
            Sim! Você pode utilizar nossas matrizes para produzir e vender produtos físicos bordados. 
            Apenas não é permitido revender, compartilhar ou distribuir os arquivos digitais das matrizes.
            </p>
        </div>
    </div>
    </div>
  </div>
</div>
<script src="{% static 'accounts/perguntas.js' %}"> </script>
{% endblock %}