{% extends 'home/base.html' %}

{% block title %}Perfil{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/profile.css' %}">

<div class="container" style="margin-top: 0px;">

    <!-- SIDEBAR -->
       <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
            <img src="https://imgs.search.brave.com/v4EB8iUioHcFOuYmSShvRUO3-8NOWJsBIFFgO-M1rM0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtcHJlbWl1/bS9waW5ndWltLWRl/LWh1bWJvbGR0LXNw/aGVuaXNjdXMtaHVt/Ym9sZHRpLWVtLXBl/XzE5MTk3MS0xMzcx/OS5qcGc_c2VtdD1h/aXNfaHlicmlkJnc9/NzQwJnE9ODA" 
            id="user_avatar" alt="Avatar">
    
                <p id="user_infos">
                    <span class="item-description">
                        Fulano de Tal
                    </span>
                    <span class="item-description">
                        Lorem Ipsum
                    </span>
                </p>
            </div>
    
                <li class="side-item active">
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Validação
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="{% url 'perguntas' %}">
                    <i class="fa-solid fa-bell-concierge"></i>                        <span class="item-description">
                            Suporte
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="{% url 'my_products' %}">
                        <i class="fa-solid fa-box"></i>
                        <span class="item-description">
                            Produtos
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="item-description">
                            Carrinho
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">
                            Configurações
                        </span>
                    </a>
                </li>
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>

        </div>

        <div id="logout">
            <button id="logout_btn" href="{% url 'logout' %}" >
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </button>
        </div>
    </nav>
    <!-- CONTEÚDO -->
    <main class="content">
        <h1>Informações de Validação</h1>

        <div class="card">

            <!-- FOTO -->
            <div class="photo-area">
                <div class="photo">
                    <img src="https://imgs.search.brave.com/v4EB8iUioHcFOuYmSShvRUO3-8NOWJsBIFFgO-M1rM0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtcHJlbWl1/bS9waW5ndWltLWRl/LWh1bWJvbGR0LXNw/aGVuaXNjdXMtaHVt/Ym9sZHRpLWVtLXBl/XzE5MTk3MS0xMzcx/OS5qcGc_c2VtdD1h/aXNfaHlicmlkJnc9/NzQwJnE9ODA" alt="Foto do usuário">
                </div>
                <button class="btn-photo">Alterar foto</button>
                <small>Formato: JPEG ou PNG</small>
            </div>

            <!-- FORM -->
            <form method="post" class="form">
                {% csrf_token %}

                <div class="row">
                    <div class="field">
                        <label class="x">Nome completo</label>
                        <input name="complete_name" value="{{ customer.complete_name }}"
                        {% if locked %}readonly{% endif %}
                        type="text">
                    </div>

                    <div class="field">
                        <label class="x">Celular</label>
                        <input name="phone" value="{{ customer.phone }}"
                        {% if locked %}readonly{% endif %}
                        type="number" placeholder="(yy) xxxxx-xxxx">
                    </div>
                </div>

                <div class="row">
                    <div class="field">
                        <label class="x">CPF</label>
                        <input name="cpf" value="{{ customer.cpf }}"
                        {% if locked %}readonly{% endif %}
                        type="number" placeholder="xxx.xxx.xxx-yy">
                    </div>

                    <div class="field">
                        <label class="x">E-mail</label>
                        <input value="{{ user.email }}"
                        {% if locked %}readonly{% endif %}
                        type="email" placeholder="usuário@exemple.com">
                    </div>
                </div>

                <div class="row">
                    <div class="field">
                        <label>Data de nascimento</label>
                        <div class="date">
                            <input name="birth_day"
                            value="{% if customer.birth_date %}{{ customer.birth_date.day }}{% endif %}"
                            type="number"
                            {% if locked %}readonly{% endif %}
                            placeholder="DD">
                            <input name="birth_month"
                            value="{% if customer.birth_date %}{{ customer.birth_date.month }}{% endif %}"
                            type="number"
                            {% if locked %}readonly{% endif %}
                            placeholder="MM">
                            <input name="birth_year"
                            value="{% if customer.birth_date %}{{ customer.birth_date.year }}{% endif %}"
                            type="number"
                            {% if locked %}readonly{% endif %}
                            placeholder="AAAA">
                        </div>
                    </div>

                    <div class="field align-end">
                        {% if not locked %}
                            <button type="submit" class="btn-save">Salvar alterações</button>
                        {% else %}
                            <button type="submit" class="btn-save">Seus dados já foram salvos</button>
                            {% if loacked %}disabled{% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="gender">
                    <label><input type="radio" name="gender" value="M" 
                        {% if customer.gender == 'M' %}checked{% endif %}
                        {% if locked %}disabled{% endif %}>
                        Masculino</label>
                    <label><input type="radio" name="gender" value="F" 
                        {% if customer.gender == 'F' %}checked{% endif %}
                        {% if locked %}disabled{% endif %}>
                        Feminino</label>
                </div>
            </form>
        </div>
    </main>
</div>

<script src="/frontend/Inicial/script.js"> </script>
{% endblock %}
