<!DOCTYPE html>
<html lang="pt-BR">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - B-Bordados</title>
<link rel="stylesheet" href="{% static 'accounts/StyleSignUp.css' %}">



</head>

<body>
    <div class="container">
        <h2>Criar Conta</h2>
        <button class="btn-social google">
            <img src="https://www.svgrepo.com/show/475656/google-color.svg" width="20">
            Entrar com Google
        </button>
        <button class="btn-social facebook">
            <img src="https://img.icons8.com/?size=100&id=8818&format=png&color=FFFFFF" width="20">
            Entrar com Facebook
        </button>
        <div class="divider"><span>ou</span></div>
        <form action="/signup/" method="post">
                {% csrf_token %}
            <div class="password-field">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Senha">
                <input type="password" placeholder="Confirmar Senha">
            </div>
                <button class="btn-primary" type="submit">Criar Conta</button>
        </form>
        <small class="smalli"> Já Possui Uma Conta? <a href="{% url 'login' %}" class="siginup">  Login</a> </small>
    </div>


    <style>
            .smalli{
                padding-left: 30px;
                margin-left: 50px;
            }
            
    </style>
</body>
</html>
