{% extends 'home/base.html' %}

{% block title %}Configurações{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/settings.css' %}">
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'accounts/settings.css' %}">
<nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
            <img src="https://imgs.search.brave.com/v4EB8iUioHcFOuYmSShvRUO3-8NOWJsBIFFgO-M1rM0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtcHJlbWl1/bS9waW5ndWltLWRl/LWh1bWJvbGR0LXNw/aGVuaXNjdXMtaHVt/Ym9sZHRpLWVtLXBl/XzE5MTk3MS0xMzcx/OS5qcGc_c2VtdD1h/aXNfaHlicmlkJnc9/NzQwJnE9ODA" 
            id="user_avatar" alt="Avatar">
    
                <p id="user_infos">
                    <span class="item-description">
                        {{ user.username }}
                    </span>
                    <span style="color: green;"
                    class="item-description">
                        Online
                    </span>
                </p>
            </div>
    
                <li class="side-item">
                    <a href="{% url 'profile' %}">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Validação
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="{% url 'perguntas' %}">
                    <i class="fa-solid fa-bell-concierge"></i>                        
                    <span class="item-description">
                            Suporte
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="{% url 'my_products' %}">
                        <i class="fa-solid fa-box"></i>
                        <span class="item-description">
                            Produtos
                        </span>
                    </a>
                </li>
    
                <li class="side-item">
                    <a href="{% url 'home' %}">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Loja
                        </span>
                    </a>
                </li>
    
                <li class="side-item active">
                    <a href="#">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">
                            Configurações
                        </span>
                    </a>
                </li>
            </ul>
    
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>

        </div>

        <div id="logout">
            <a style="text-decoration: none; color: black;"
            href="{% url 'logout' %}" id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </a>
        </div>
    </nav>

<div class="right4">
    <div class="configuracoes">
        <h1> Configurações </h1>
        
        <h2>Minha conta</h2>
        <h6 class="info1">Aqui você pode gerenciar as informações da sua conta, como nome de usuário<br> e senha.
            Algumas alterações são imediatas, outras podem exigir confirmação <br>por segurança.</h6>

            <h6 class="info4">Alterar nome de usuário:</h6>
            <div class="group4">
            <form method="post" action="{% url 'change_username' %}">
                {% csrf_token %}
                <input name="username" type="text">
                <button type="submit"> <i class="fa-solid fa-check"></i></button>
            </form>
            </div>
    </div>

<form method="post" action="{% url 'change_password' %}">
{% csrf_token %}
    <div class="senha1">
        <h6 class="info4">Alterar Senha:</h6>

        <input name="actual_password" type="password" class="senhas" placeholder="Senha atual">
        <a href="{% url 'forgot_password' %}"> Esqueci minha senha? </a>
    
        <input name="new_password" type="password" class="senhas" placeholder="Nova senha">
        <input name="confirm_new_password" type="password" class="senhas" placeholder="Confirmar nova senha">

        <button type="submit" > Alterar senha </button>
    </div>
</form>
    <div class="delete">
        <h1>Área de exclusão de conta</h1>
        <h6 class="aviso"> Ao excluir sua conta, todos os seus dados serão apagados permanentemente, <br> 
            incluindo informações pessoais, histórico e conteúdos salvos. Essa ação não <br> 
            poderá ser desfeita e você perderá o acesso à plataforma imediatamente. Se <br>
            tiver certeza de que deseja continuar, confirme a exclusão.</h6>
        <a href="{% url 'delete_account' %}"> Excluir conta </a>
    </div>
</div>
{% endblock %}