<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% load static %}
  <link rel="icon" href="{% static 'home/favicon.png' %}" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finalizar compra - B Bordados</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- Fonte -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- CSS externo -->
  <link rel="stylesheet" href="{% static 'checkout/checkout.css' %}">
</head>
<body>

  <main class="container">

    <!-- COLUNA ESQUERDA -->
    <section class="left">
      <div class="logo">
        <a href="{% url 'home' %}">
          <img src="{% static 'home/logo_bbordados.svg' %}" alt="">
        </a>
      </div>
      <h1>Finalizar compra</h1>

    {% for item in cart.items.all %}
      <div class="products">
        <div class="product">
            <img class="product-img" src="{{ item.product.image.url }}" alt="">
          <div class="product-info">
            <h3>{{ item.product.name }}</h3>
            <span>R$ {{ item.product.price }}</span>
            <small>Até {{ item.product.installments_count }}x sem juros</small> <br>
            <a href="{% url 'remove_from_cart' item.id %}"> Remover </a> 
          </div>
        </div>
    {% endfor %}

      <a href="{% url 'home' %}" class="back">← Voltar ao início</a>
    </section>

    <!-- COLUNA DIREITA -->
    <section class="right">
      <div class="payment-box">
        <div class="img">
        <img src="{% static 'checkout/checkout.svg' %}" alt="">
        </div>
      </div>

    {% if cart.items.all %}
      <div class="summary">
        <div class="line total">
          <span>Subtotal</span>
          <span>R${{ cart.total }}</span>
        </div>
      </div>

      <div class="summary">
        <div class="linetotalpink">
          <span>Descontos</span>
          <span>- R$00,00</span>
        </div>
      </div>


      <div class="summary">
        <div class="line total">
          <span>Total</span>
          <span>R${{ cart.total }}</span>
        </div>
      </div>
      <form action="{% url 'checkout_pay' %}" method="post">
          {% csrf_token %}
      <button type="submit" class="finish">Finalizar compra</button>
      </form>

    {% else %}
      <button class="finish">Carrinho vazio</button>
    {% endif %}
    </section>

  </main>

</body>
</html>